:root {
    --TAMNA: #414c3c;
    --CAPP: #c59d90;
    --KREM: #f6e4d2;
    --BROWN: #765848;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--TAMNA);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
    width: 120px;
    margin-right: auto;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--KREM);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-meni {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-meni li {
    margin-right: 25px;
    font-size: medium;
    position: relative;
}

.nav-meni li a {
    text-decoration: none;
    color: var(--BROWN);
    padding: 0 20px;
    transition: color 0.3s;
}

.nav-meni li a:hover {
    color: #7c9172;
}

.hero-image {
    background-image: url(../img/imagecompressor/hero-min.jpg);
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image .hero-card {
    width: 600px;
    text-align: center;
}

.hero-image .hero-card h1 {
    color: var(--KREM);
    font-size: 50px;
    font-weight: 700;
}

.hero-image .hero-card p {
    font-size: 30px;
    font-weight: 700;
    color: var(--KREM);
}

.meni {
    width: 100%;
    height: 140vh;
}

.card-eat .slika1,
.card-drink .slika2 {
    width: 50%;
    height: 70vh;
    float: left;
}

.card-eat .slika1 img,
.card-drink .slika2 img {
    width: 100%;
    height: 100%;
}

.card-eat .tekst1 {
    width: 50%;
    float: right;
    text-align: center;
    color: var(--KREM);
}

.kontakt-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 20px;
    background-color: var(--KREM);
}

.forma {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--KREM);
    border-radius: 8px;
    padding: 20px;
    margin: 30px auto;
    width: 85vw;
    height: 80vh;
}

.forma h1 {
    color: #555;
    font-family: cursive;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: var(--BROWN);
    color: var(--KREM);
    font-weight: bolder;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #414c3c;
}

.donjideo {
    width: 100%;
    height: 13.5vh;
    background-color: var(--BROWN);
    margin-top: 30px;
}

.donjideo img {
    position: relative;
    height: 90px;
    width: 100px;
    animation: move 6s linear infinite;
}

@keyframes move {
    50% {
        transform: translateX(50vw);
    }
    50.001% {
        transform: translateX(-60vw);
    }
}
